.DS_Store
a.out
.vscode

#kayra macbook için
/Users/kayraakbas/Desktop/minishell/Makefile
/Users/kayraakbas/Desktop/minishell/includes/signals.h
/Users/kayraakbas/Desktop/minishell/srcs/signals/signal.c